@font-face{
  font-family: pc;
  src:url('./assets/pc-9900-v2x.otf');
}

.App {
  text-align: center;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
  padding: 3em;
  justify-content: center;
}

.header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  display: inline-flex;
}

.animated_text {
  font-size: 1em;
  color : red;
  letter-spacing: 0px;
  font-family: pc;
  padding-right: 5px;
  border-right: 3px red solid;
  width : 100%;
  white-space: nowrap;
  overflow: hidden;
  animation:
    typing 1s steps(30),
    cursor .4s step-end infinite alternate;
    
}

.mainMenuTransition {
  animation:
    fadeOut 2s
}

@keyframes cursor {
  50% {border-color: transparent}
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;} 
} 


