@font-face {
    font-family: pc;
    src: url('./assets/pc-9900-v2x.otf');
  }

.background {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bigBoxPreview {
  position: relative;
  top: 25vh;
  left : 5vw;
  width: 50vw;
  height: 50vh;

  border-style: solid;
  border-width: 0.5vh;

}

.bigBoxVideo {
  position: absolute; 
  width: 100%; 
  height: 100%; 
  object-fit: fill;
}

.bigBoxLogo {
  position: absolute;
  top:60%;
  width: 100%;
  height: 85%;
  background-size: contain;
  background-position: center center; 
  background-repeat: no-repeat;
}


.text {
  font-family: pc;
  font-size: calc(14px + 2vmin);
  color: white;
  background-color: black;
  align-self: center;  
}

